---
title: Поставка транспорта
body_class: main
---
.alert-block
  .alert-message-true

.head-nav#menu
  .container
    .row
      .row-head-nav
        .comment= link_to 'Отправить сообщение', '#message', class: 'link-comment', "data-toggle" => "modal"
        .map= link_to 'Адрес компании', '#j-google-map', class: 'link-map smooth'
        .phone-block
          .main-phone
            .text +7 (499)
            %span 506-75-90
          .dop-phone+7 985-125-10-20
        .logo-image
          %img.logo-img-small{ src: 'images/logo.png' }
          %img.logo-img-big{ src: 'images/logo-2.png' }
        .nav-links
          %ul
            %li= link_to 'О компании', '#about', class: 'smooth'
            %li= link_to 'Поставка', '#delivery', class: 'smooth'
            %li= link_to 'Выбор техники', '#choice', class: 'smooth'
            %li= link_to 'Контакты', '#contacts', class: 'smooth'

.clear
.double-block
  .container
    .row
      .first-row
        #carousel-example-generic.carousel.slide{"data-ride" => "carousel"}
          .yellow-line
          .yellow-line-block Любая спецтехника на ваш выбор!
          .currency-block
            .title Курсы валют:
            #currency

          .carousel-inner
            .item.active{ style: 'background-image: url(images/slider1.png)'}
              .carousel-caption.caption-1
                %li.active{"data-slide-to" => "0", "data-target" => "#carousel-example-generic"} Автобетононасосы
                %li{"data-slide-to" => "1", "data-target" => "#carousel-example-generic"} Автобетоносмесители
                %li{"data-slide-to" => "2", "data-target" => "#carousel-example-generic"} Автобусы
                %li{"data-slide-to" => "3", "data-target" => "#carousel-example-generic"} Автоцистерны
                %li{"data-slide-to" => "4", "data-target" => "#carousel-example-generic"} Вы делаете свой выбор, мы сопровождаем

            .item{ style: 'background-image: url(images/slider2.png)'}
              .carousel-caption.caption-2
                %li{"data-slide-to" => "0", "data-target" => "#carousel-example-generic"} Автобетононасосы
                %li.active{"data-slide-to" => "1", "data-target" => "#carousel-example-generic"} Автобетоносмесители
                %li{"data-slide-to" => "2", "data-target" => "#carousel-example-generic"} Автобусы
                %li{"data-slide-to" => "3", "data-target" => "#carousel-example-generic"} Автоцистерны
                %li{"data-slide-to" => "4", "data-target" => "#carousel-example-generic"} Вы делаете свой выбор, мы сопровождаем

            .item{ style: 'background-image: url(images/slider3.png)'}
              .carousel-caption.caption-3
                %li{"data-slide-to" => "0", "data-target" => "#carousel-example-generic"} Автобетононасосы
                %li{"data-slide-to" => "1", "data-target" => "#carousel-example-generic"} Автобетоносмесители
                %li.active{"data-slide-to" => "2", "data-target" => "#carousel-example-generic"} Автобусы
                %li{"data-slide-to" => "3", "data-target" => "#carousel-example-generic"} Автоцистерны
                %li{"data-slide-to" => "4", "data-target" => "#carousel-example-generic"} Вы делаете свой выбор, мы сопровождаем

            .item{ style: 'background-image: url(images/slider4.png)'}
              .carousel-caption.caption-4
                %li{"data-slide-to" => "1", "data-target" => "#carousel-example-generic"} Автобетоносмесители
                %li{"data-slide-to" => "2", "data-target" => "#carousel-example-generic"} Автобусы
                %li.active{"data-slide-to" => "3", "data-target" => "#carousel-example-generic"} Автоцистерны
                %li.li-4{"data-slide-to" => "4", "data-target" => "#carousel-example-generic"} Вы делаете свой выбор, мы сопровождаем!
                %li.li-5{"data-slide-to" => "5", "data-target" => "#carousel-example-generic"} Доставка из Европы транспорта заказчика. Легковые автомобили.

            .item{ style: 'background-image: url(images/slider5.png)'}
              .carousel-caption.caption-5
                %li{"data-slide-to" => "2", "data-target" => "#carousel-example-generic"} Автобусы
                %li{"data-slide-to" => "3", "data-target" => "#carousel-example-generic"} Автоцистерны
                %li.li-3.active{"data-slide-to" => "4", "data-target" => "#carousel-example-generic"} Вы делаете свой выбор, мы сопровождаем!
                %li.li-4{"data-slide-to" => "5", "data-target" => "#carousel-example-generic"} Доставка из Европы транспорта заказчика. Легковые автомобили.
                %li.li-5{"data-slide-to" => "6", "data-target" => "#carousel-example-generic"} Доставка из Европы транспорта заказчика. Спецтехника

            .item{ style: 'background-image: url(images/slider6.png)'}
              .carousel-caption.caption-6
                %li{"data-slide-to" => "3", "data-target" => "#carousel-example-generic"} Автоцистерны
                %li.li-2{"data-slide-to" => "4", "data-target" => "#carousel-example-generic"} Вы делаете свой выбор, мы сопровождаем!
                %li.li-3.active{"data-slide-to" => "5", "data-target" => "#carousel-example-generic"} Доставка из Европы транспорта заказчика. Легковые автомобили.
                %li.li-4{"data-slide-to" => "6", "data-target" => "#carousel-example-generic"} Доставка из Европы транспорта заказчика. Спецтехника
                %li.li-5{"data-slide-to" => "7", "data-target" => "#carousel-example-generic"} Доставка шасси Грузовых автомобилей для дооборудования в России

            .item{ style: 'background-image: url(images/slider7.png)'}
              .carousel-caption.caption-7
                %li.li-1{"data-slide-to" => "4", "data-target" => "#carousel-example-generic"} Вы делаете свой выбор, мы сопровождаем!
                %li.li-2{"data-slide-to" => "5", "data-target" => "#carousel-example-generic"} Доставка из Европы транспорта заказчика. Легковые автомобили.
                %li.li-3.active{"data-slide-to" => "6", "data-target" => "#carousel-example-generic"} Доставка из Европы транспорта заказчика. Спецтехника
                %li.li-4{"data-slide-to" => "7", "data-target" => "#carousel-example-generic"} Доставка шасси Грузовых автомобилей для дооборудования в России
                %li.li-5{"data-slide-to" => "8", "data-target" => "#carousel-example-generic"} Краны-Манипуляторы.

            .item{ style: 'background-image: url(images/slider8.png)'}
              .carousel-caption.caption-8
                %li.li-1{"data-slide-to" => "5", "data-target" => "#carousel-example-generic"} Доставка из Европы транспорта заказчика. Легковые автомобили.
                %li.li-2{"data-slide-to" => "6", "data-target" => "#carousel-example-generic"} Доставка из Европы транспорта заказчика. Спецтехника
                %li.li-3.active{"data-slide-to" => "7", "data-target" => "#carousel-example-generic"} Доставка шасси Грузовых автомобилей для дооборудования в России
                %li.li-4{"data-slide-to" => "8", "data-target" => "#carousel-example-generic"} Краны-Манипуляторы.
                %li.li-5{"data-slide-to" => "9", "data-target" => "#carousel-example-generic"} Оптовые поставки Фильтрующих элементов

            .item{ style: 'background-image: url(images/slider9.png)'}
              .carousel-caption.caption-9
                %li.li-1{"data-slide-to" => "6", "data-target" => "#carousel-example-generic"} Доставка из Европы транспорта заказчика. Спецтехника
                %li.li-2{"data-slide-to" => "7", "data-target" => "#carousel-example-generic"} Доставка шасси Грузовых автомобилей для дооборудования в России
                %li.li-3.active{"data-slide-to" => "8", "data-target" => "#carousel-example-generic"} Краны-Манипуляторы.
                %li.li-4{"data-slide-to" => "9", "data-target" => "#carousel-example-generic"} Оптовые поставки Фильтрующих элементов
                %li.li-5{"data-slide-to" => "10", "data-target" => "#carousel-example-generic"} Организация таможенной очистки

            .item{ style: 'background-image: url(images/slider10.png)'}
              .carousel-caption.caption-10
                %li.li-1{"data-slide-to" => "7", "data-target" => "#carousel-example-generic"} Доставка шасси Грузовых автомобилей для дооборудования в России
                %li.li-2{"data-slide-to" => "8", "data-target" => "#carousel-example-generic"} Краны-Манипуляторы.
                %li.li-3.active{"data-slide-to" => "9", "data-target" => "#carousel-example-generic"} Оптовые поставки Фильтрующих элементов
                %li.li-4{"data-slide-to" => "10", "data-target" => "#carousel-example-generic"} Организация таможенной очистки
                %li.li-5{"data-slide-to" => "11", "data-target" => "#carousel-example-generic"} Самосвалы

            .item{ style: 'background-image: url(images/slider11.png)'}
              .carousel-caption.caption-11
                %li.li-1{"data-slide-to" => "8", "data-target" => "#carousel-example-generic"} Краны-Манипуляторы.
                %li.li-2{"data-slide-to" => "9", "data-target" => "#carousel-example-generic"} Оптовые поставки Фильтрующих элементов
                %li.li-3.active{"data-slide-to" => "10", "data-target" => "#carousel-example-generic"} Организация таможенной очистки
                %li.li-4{"data-slide-to" => "11", "data-target" => "#carousel-example-generic"} Самосвалы
                %li.li-5{"data-slide-to" => "12", "data-target" => "#carousel-example-generic"} Спецтехника из Европы любых производителей

            .item{ style: 'background-image: url(images/slider12.png)'}
              .carousel-caption.caption-12
                %li.li-1{"data-slide-to" => "9", "data-target" => "#carousel-example-generic"} Оптовые поставки Фильтрующих элементов
                %li.li-2{"data-slide-to" => "10", "data-target" => "#carousel-example-generic"} Организация таможенной очистки
                %li.li-3.active{"data-slide-to" => "11", "data-target" => "#carousel-example-generic"} Самосвалы
                %li.li-4{"data-slide-to" => "12", "data-target" => "#carousel-example-generic"} Спецтехника из Европы любых производителей
                %li.li-5{"data-slide-to" => "13", "data-target" => "#carousel-example-generic"} Тягачи и полуприцепы

            .item{ style: 'background-image: url(images/slider13.png)'}
              .carousel-caption.caption-13
                %li.li-1{"data-slide-to" => "10", "data-target" => "#carousel-example-generic"} Организация таможенной очистки
                %li.li-2{"data-slide-to" => "11", "data-target" => "#carousel-example-generic"} Самосвалы
                %li.li-3.active{"data-slide-to" => "12", "data-target" => "#carousel-example-generic"} Спецтехника из Европы любых производителей
                %li.li-4{"data-slide-to" => "13", "data-target" => "#carousel-example-generic"} Тягачи и полуприцепы
                %li.li-5{"data-slide-to" => "14", "data-target" => "#carousel-example-generic"} Шасси грузовых автомобилей для дооборудования в России

            .item{ style: 'background-image: url(images/slider14.png)'}
              .carousel-caption.caption-14
                %li.li-1{"data-slide-to" => "10", "data-target" => "#carousel-example-generic"} Организация таможенной очистки
                %li.li-2{"data-slide-to" => "11", "data-target" => "#carousel-example-generic"} Самосвалы
                %li.li-3{"data-slide-to" => "12", "data-target" => "#carousel-example-generic"} Спецтехника из Европы любых производителей
                %li.li-4.active{"data-slide-to" => "13", "data-target" => "#carousel-example-generic"} Тягачи и полуприцепы
                %li.li-5{"data-slide-to" => "14", "data-target" => "#carousel-example-generic"} Шасси грузовых автомобилей для дооборудования в России
            .item{ style: 'background-image: url(images/slider15.png)'}
              .carousel-caption.caption-15
                %li.li-1{"data-slide-to" => "10", "data-target" => "#carousel-example-generic"} Организация таможенной очистки
                %li.li-2{"data-slide-to" => "11", "data-target" => "#carousel-example-generic"} Самосвалы
                %li.li-3{"data-slide-to" => "12", "data-target" => "#carousel-example-generic"} Спецтехника из Европы любых производителей
                %li.li-4{"data-slide-to" => "13", "data-target" => "#carousel-example-generic"} Тягачи и полуприцепы
                %li.li-5.active{"data-slide-to" => "14", "data-target" => "#carousel-example-generic"} Шасси грузовых автомобилей для дооборудования в России

          %a.left.slide-prev{"data-slide" => "prev", href: "#carousel-example-generic"}
            .tail-prev
          %a.right.slide-next{"data-slide" => "next", href: "#carousel-example-generic"}
            .tail-next
    .row
      .col-sm-5.col-md-5.col-sm-offset-7.col-md-offset-7
        .second-row
          .title-block#about
            Мы доставим!
          .text-block
            Вам не придется долго искать, просто выбирайте технику (
            = link_to 'тут', '#choice', class: 'smooth'
            ) в соответствующей категории машин, самые популярные в Европе порталы
            по продаже Техники размещены у нас, просто скопируйте ссылка и отправьте
            = link_to 'сообщение', '#message', "data-toggle" => "modal"
            , мы вышлем вам детальный расчет.
            Так же Вы можете заказать себе
            = link_to 'Звонок', '#callback', "data-toggle" => "modal"
            прямо на сайте отправив короткое сообщение!
    .row
      .col-sm-6.col-md-6
        .third-row
          .title-block
            О Сайте!
          .text-block
            ПОСТАВКА ТРАНСПОРТА - ваш надёжный проводник. Наш сайт, ваш рабочий стол для простого расчёта стоимости грузового транспорта, ввозимого из Европы. Вы делаете свой выбор, мы сопровождаем! Оказываем поэтапную юридическую помощь в оформлении!
            %br
            %br
            "
            = link_to 'Вопрос-ответ', '#question', class: 'smooth', id: 'question'
            " с часто задаваемыми вопросами, поможет Вам детально разобраться с этапами приобретения!
      .col-sm-5.col-md-5.col-sm-offset-1.col-md-offset-1.big-yellow-block
        .big-yellow-line
          .text-block
            .count#j-counter 120
            %span
              Доставлено
          .long-line

    .row
      .col-sm-12.col-md-12
        .fourth-row
          .title-block
            ВОПРОС - ОТВЕТ
          .questions
            #wrapper
              #bg
              #carousel
                %div
                  = link_to '#question1', "data-toggle" => "modal" do
                    .first Интересует сколько первоначальный взнос?
                  = link_to '#question2', "data-toggle" => "modal" do
                    .second Как производится оплата?
                  = link_to '#question3', "data-toggle" => "modal" do
                    .third Какие скроки поставки?
                %div
                  = link_to '#question4', "data-toggle" => "modal" do
                    .first Что если не устроит машина, как быть?
                  = link_to '#question5', "data-toggle" => "modal" do
                    .second Что значит Машинокомплект?
                  = link_to '#question6', "data-toggle" => "modal" do
                    .third Возможно ли оплата в рассрочку?
                %div
                  = link_to '#question1', "data-toggle" => "modal" do
                    .first Интересует сколько первоначальный взнос?
                  = link_to '#question2', "data-toggle" => "modal" do
                    .second Как производится оплата?
                  = link_to '#question3', "data-toggle" => "modal" do
                    .third Какие скроки поставки?
                %div
                  = link_to '#question4', "data-toggle" => "modal" do
                    .first Что если не устроит машина, как быть?
                  = link_to '#question5', "data-toggle" => "modal" do
                    .second Что значит Машинокомплект?
                  = link_to '#question6', "data-toggle" => "modal" do
                    .third Возможно ли оплата в рассрочку?
              %a#prev{href: "#"}
              %a#next{href: "#"}

    .fifth-row
      .row#delivery
        .col-sm-12.col-md-12
          .title-block
            ПОСТАВКА
      .row
        .col-sm-6.col-md-6
          .text-block
            После получения от Вас заявки на выбранную вами технику, мы оговариваем с Вами условия предоставления наших услуг, мы делаем для вас детальный расчёт стоимости с учётом поэтапной оплаты от начала покупки до отправки к месту назначения
            %br
            %br
            Последовательность поэтапной оплаты даёт возможность контролировать весь процесс Поставки. По вашему желанию вы можете напрямую участвовать в этих процессах и выбирать для себя удобный этап оплаты. Платежи за выполнение отдельных поручений идут напрямую исполнителям. Мы только организуем эти действия.
        .col-sm-5.col-md-5.col-sm-offset-1.col-md-offset-1
          .text-block
            %span Поэтапная оплата:
            Осмотр, Выкуп в Европе, доставка в РФ, таможня в РФ, ТО в РФ, оформление ПТС, доставка по РФ. Платежи осуществляются последовательно, либо напряму исполнителям (продавец в Европе, перевозчик, брокер, юрист), либо по одному лицу - Поставщику, который осуществит эти платежи.
            %br
            %br
            %span Платежи:
            Осмотр, Выкуп в Европе, доставка в РФ, таможня в РФ, ТО в РФ, оформление ПТС, доставка по РФ.

.footer-block
  .container
    .row
      .sixth-row
        .col-sm-10.col-md-10.col-sm-offset-1.col-md-offset-1
          .quotes-block
            Рекомендуется осмотр техники перед покупкой в Европе Вашими силами либо общими, с привлечением специалистов. По запросу клиента выполняются фото и видео отчеты проверки и получение Заключения на фирменной станции диагностики в ближайшем месте от покупки техники.
    .row
      .seven-row
        .col-sm-12.col-md-12#choice
          .center-title-block Мы трудимся над тем, чтобы вы покупали именно то, что вам необходимо
          .small-title-block Транспорт в Европе:
    .row
      .seven-row
        .col-sm-12.col-md-12
          .link-block.left-image
            = link_to 'http://suchen.mobile.de/fahrzeuge/search.html?scopeId=AT&lang=ru', target: '_blank' do
              .image-block
                %img{ src: 'images/partner1.png' }
              .text-block
                mobile.de
          .link-block.left-padding
            = link_to 'http://autoline-eu.ru/', target: '_blank' do
              .image-block
                %img{ src: 'images/partner2.png' }
              .text-block
                autoline-eu.ru
          .link-block
            = link_to 'http://www.truckscout24.ru/', target: '_blank' do
              .image-block
                %img{ src: 'images/partner3.png' }
              .text-block
                truckscout24.ru
          .link-block.right-padding
            = link_to 'http://www.truckstore.com/', target: '_blank' do
              .image-block
                %img{ src: 'images/partner4.png' }
              .text-block
                truckstore.com
          .link-block.right-image
            = link_to 'http://www.trucks.nl/search.asp?languageid=14', target: '_blank' do
              .image-block
                %img{ src: 'images/partner5.png' }
              .text-block
                trucks.nl
    .row
      .seven-row
        .col-sm-12.col-md-12
          .small-title-block Транспорт в Польше:
          .small-title-block Транспорт в Литве:
          .small-title-block Рекомендуемые прощадки:
        .col-sm-12.col-md-12
          .link-block.left-image2
            = link_to 'http://otomoto.pl/dostawcze-i-ciezarowe', target: '_blank' do
              .image-block
                %img{ src: 'images/partner6.png' }
              .text-block
                otomoto.pl
          .link-block.left-padding2
            = link_to 'http://ru.auto.plius.lt/poisk/b-u-avtomobili', target: '_blank' do
              .image-block
                %img{ src: 'images/partner7.png' }
              .text-block
                plius.lt
          .link-block
            = link_to 'https://ru.kleyntrucks.com/', target: '_blank' do
              .image-block
                %img{ src: 'images/partner8.png' }
              .text-block
                kleyntrucks.com
          .link-block.right-padding2
            = link_to 'http://ru.bastrucks.com/', target: '_blank' do
              .image-block
                %img{ src: 'images/partner9.png' }
              .text-block
                bastrucks.com
          .link-block.right-image2
            = link_to 'http://www.schaftentrucks.nl/ru', target: '_blank' do
              .image-block
                %img{ src: 'images/partner10.png' }
              .text-block
                schaftentrucks.nl
    .row
      .eighth-row
        .col-sm-4.col-md-4
          .title-block#contacts
            Контакты
        .col-sm-4.col-md-4
          .phone-block
            .main +7 (499) 506-75-90
            .dop +7 985-125-10-20
        .col-sm-4.col-md-4.sm-md
          .link-block
            .social-group
              = link_to 'http://vk.com/postavka.transporta', target: '_blank' do
                .img-vk
              = link_to 'https://www.facebook.com/pages/%D0%9F%D0%BE%D1%81%D1%82%D0%B0%D0%B2%D0%BA%D0%B0-%D0%A2%D1%80%D0%B0%D0%BD%D1%81%D0%BF%D0%BE%D1%80%D1%82%D0%B0/305089489592998?fref=ts', target: '_blank' do
                .img-fb
              = link_to 'http://odnoklassniki.ru/group/51941314527406', target: '_blank' do
                .img-odn
            .comment= link_to 'Отправить сообщение', '#message', class: 'link-comment', "data-toggle" => "modal"
            .user= link_to 'Заказать звонок', '#callback', class: 'link-user', "data-toggle" => "modal"


.google-alert
  .map-alert
    Офис и склад
    %span "ПОСТАВКА ТРАНСПОРТА"
    236039, г Калининград, ул Суворова, 44*
.google-map#j-google-map
#callback.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", role: "dialog"}
  %form.simple_form.subscriber{"accept-charset" => "UTF-8", action: "/callback.php", "data-remote" => "true", method: "post"}
    .modal-dialog.simple-modal
      .modal-content
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} ×
        .modal-header
          .modal-title Заказать звонок ––
        .modal-body
          .form-group.string.required
            %label.string.required.control-label
              %abbr{title: "Обязательное для заполнения поле"} *
              Имя
            %input.string.required.form-control.j-callback-name{"aria-required" => "true", name: "name", required: "required", type: "text"}
          .form-group.required
            %label.required.control-label
              %abbr{title: "Обязательное для заполнения поле"} *
              № телефона:
            %input.string.required.form-control.form-control.j-callback-phone{"aria-required" => "true", name: "phone", required: "required", type: "phone"}
        .modal-footer
          %input.btn.j-callback-send{name: "commit", type: "submit", value: "Отправить"}

#message.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", role: "dialog"}
  %form.simple_form.subscriber{"accept-charset" => "UTF-8", action: "/message.php", "data-remote" => "true", method: "post"}
    .modal-dialog.message-modal
      .modal-content
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} ×
        .modal-header
          .modal-title Напишите нам
        .modal-body
          .row
            .col-sm-6.col-md-6
              .form-group.name.string.required
                %label.string.required.control-label
                  Ваше Имя:
                %input.string.required.form-control.j-message-name{"aria-required" => "true", name: "name", required: "required", type: "text"}
              .form-group.phonoemail.required
                %label.required.control-label
                  Ваш email \ телефон:
                %input.string.required.form-control.form-control.j-message-phone{"aria-required" => "true", name: "phonomail", required: "required", type: "text"}
              .form-group.title.required
                %label.required.control-label
                  Тема сообщения:
                %input.string.required.form-control.form-control.j-message-title{"aria-required" => "true", name: "title", required: "required", type: "text"}
            .col-sm-6.col-md-6
              .form-group.text.required
                %label.required.control-label
                  Текст сообщения:
                %textarea.required.form-control.j-message-text{"aria-required" => "true", name: "message", required: "required", rows: "6"}

        .modal-footer
          %input.btn.j-message-send{name: "commit", type: "submit", value: "Отправить сообщение"}

#question1.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", role: "dialog"}
  .modal-dialog.simple-modal
    .modal-content
      %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} ×
      .modal-header
        .modal-title Вопрос-ответ:
      .modal-body.question-text
        %h3 Интересует сколько первоначальный взнос?
        %p Первоначальный взнос равен выкупной стоимости транспорта в Европе.

#question2.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", role: "dialog"}
  .modal-dialog.simple-modal
    .modal-content
      %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} ×
      .modal-header
        .modal-title Вопрос-ответ:
      .modal-body.question-text
        %h3 Как производится оплата?
        %p Платежи осуществляются последовательно поэтапно либо напрямую исполнителям (продавец в Европе, перевозчик, брокер, юрист), либо одному лицу - Поставщику, который осуществит эти платежи.
        %p Платежи: Выкуп в Европе, доставка до РФ, таможня в РФ, Техническое обслуживание в РФ, оформление ПТС, доставка по РФ.

#question3.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", role: "dialog"}
  .modal-dialog.simple-modal
    .modal-content
      %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} ×
      .modal-header
        .modal-title Вопрос-ответ:
      .modal-body.question-text
        %h3 Какие сроки поставки?
        %p Физический ввоз транспортного средства на таможенную территорию РФ, ориентировочно- 14 дней.
        %p Срок оформления документов автосборочными предприятиями – 30дней. ( это относится к Машинокомплектам).

#question4.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", role: "dialog"}
  .modal-dialog.simple-modal
    .modal-content
      %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} ×
      .modal-header
        .modal-title Вопрос-ответ:
      .modal-body.question-text
        %h3 Что если не устроит машина, как быть?
        %p Рекомендуется осмотр техники перед покупкой в Европе Вашими силами либо общими с привлечением специалистов.

#question5.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", role: "dialog"}
  .modal-dialog.simple-modal
    .modal-content
      %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} ×
      .modal-header
        .modal-title Вопрос-ответ:
      .modal-body.question-text
        %h3 Что значит Машинокомплект?
        %p Отдельные Части транспортного средства в совокупности представляющие собой полнокомплектную единицу.
        %p Автомобиль разбирается на территории Европейского союза, на специализированных заводах
        %p Разобранный автомобиль провозится через границу, получая все необходимые таможенные документы
        %p Машинокомплект привозят на один из сертифицированных заводов в России. На заводе части собирают и выдают Российский ПТС.

#question6.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", role: "dialog"}
  .modal-dialog.simple-modal
    .modal-content
      %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} ×
      .modal-header
        .modal-title Вопрос-ответ:
      .modal-body.question-text
        %h3 Возможно ли оплата в рассрочку?
        %p К сожалению, мы рассрочку не предоставляем. Техника поставляется за счет заказчика.